/target
AppConfig.java
app.log
git.sh
src/main/resources/application.yml
# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
